# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# ch16 하위의 모든 프로젝트 빌드 파일 숨기기
**/build/
**/.dart_tool/
**/.packages
**/.pub/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Android 관련 임시 파일 숨기기
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# 문제의 IntelliJ 설정 파일 숨기기
.idea/
*.iml
